<!DOCTYPE html>
<html lang="en">

    # const date = new Date();
    # const version = encodeURIComponent(date.toISOString());
  <head>
    <meta charset="utf-8">
    <meta name="description" content="#=(description)" />
    <title>#=(title)</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
    # if(cssFiles.length > 0) {
        
        # for (cssFilename of cssFiles) {
            # const finalPath = cssFilename + "?v=" + version;
        <link rel="stylesheet" type="text/css" href="#=(finalPath)">
        # }
    # }
  </head>

  <body>
    #=(bodyStr)

    # if (scriptFiles.length > 0) {

        <script type="text/javascript">
            var Page = Page || {};
            Object.defineProperty(Page, "version", {
              value: "#=(version)",
              writable: false,
            });
        </script>
        # for (let scriptFile of scriptFiles) {
            # const finalPath = scriptFile + "?v=" + version;
          <script src="#=(finalPath)"></script>
        # }
    # }
  </body>

</html>