@use 'common/common';

nav#nav-bar {
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    padding: 16px;
    background: transparent;
    transition: background .3s;
    z-index: 2;
    box-sizing: border-box;
    
    &.opaque {
        background: black;
        background: rgba(0,0,0,0.7);
        backdrop-filter: blur(10px);
    }
    &.sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    #nav-bar-content {
        width: 100%;
        max-width: common.$header-max-width;
        margin: auto;
    }

    #header-logo {
        width: 32px;
        height: 32px;
        background: green;
    }
}
