nav#nav-bar {
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    padding: 16px;
    background: transparent;
    transition: background .3s;
    z-index: 2;
    
    &.opaque {
        background: red;
    }
    &.sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    #header-logo {
        width: 32px;
        height: 32px;
        background: green;
    }
}
