$lighten-5: #e0f2f1;
$lighten-4: #b2dfdb;
$lighten-3: #80cbc4;
$lighten-2: #4db6ac;
$lighten-1: #26a69a;
$medium:    #009688;
$darken-1:  #00897b;
$darken-2:  #00796b;
$darken-3:  #00695c;
$darken-4:  #004d40;
