$lighten-5: #e8f5e9;
$lighten-4: #c8e6c9;
$lighten-3: #a5d6a7;
$lighten-2: #81c784;
$lighten-1: #66bb6a;
$medium:    #4caf50;
$darken-1:  #43a047;
$darken-2:  #388e3c;
$darken-3:  #2e7d32;
$darken-4:  #1b5e20;
