$lighten-5: #ffebee;
$lighten-4: #ffcdd2;
$lighten-3: #ef9a9a;
$lighten-2: #e57373;
$lighten-1: #ef5350;
$medium:    #f44336;
$darken-1:  #e53935;
$darken-2:  #d32f2f;
$darken-3:  #c62828;
$darken-4:  #b71c1c;
